# -------------------------
# Supabase
# -------------------------
SUPABASE_URL="https://qddosusfspzkrgnjfsby.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkZG9zdXNmc3B6a3Jnbmpmc2J5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxMjk4MDcsImV4cCI6MjA3MDcwNTgwN30.n_6k4u12c9oRpOvBNqCgf_iZaz57HeoxwvpkgRjD1fg"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkZG9zdXNmc3B6a3Jnbmpmc2J5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTEyOTgwNywiZXhwIjoyMDcwNzA1ODA3fQ.BUDOEGm0oKba_UgS43mQsCuAMaZswWNXVdZtK69pY-g"

# -------------------------
# Analytics / Monitoring
# -------------------------
NEXT_PUBLIC_POSTHOG_KEY="phc_M1aPCmbP1UHzs4CmahkE5TggpALkDV1zfc8u5kRjk0A"
POSTHOG_HOST="https://us.posthog.com"
SENTRY_DSN="https://8e1c2990b7fcc5146684b31f3e5a9b57@o4509820537470976.ingest.de.sentry.io/4509820689776720"

# -------------------------
# WhatsApp Cloud API
# -------------------------
WHATSAPP_TOKEN="EAAckxkHNV7sBPH0eaS3MEbQNKkZBBakovqmUwL5zdwuE46trnA0t1VTlHjZCCW1n9XiU5k2HhEtU9i6ZCzvpRZBIuPWELgD8XjgXphgCU8rohz00HeVVwqHF1RsoVktk29jhVWj6C8x4dh42qTi68QhcXDGKPfYZATtNLWZAPaZCKp2mOHQ0ap0mWQRsArmH9Ev07zZBwAG5bJmpKLYvxHAVXHm9MUzfHrSI9r4mO4aEFg7CAwZDZD"
WHATSAPP_PHONE_NUMBER_ID="744491195415383"

# -------------------------
# Upstash QStash (Owner Reports)
# -------------------------
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="eyJVc2VySUQiOiI2YjdjMzYxMi01MWNhLTQ5OGEtOWI0OS0zMzMzNTY2OTU5ZGIiLCJQYXNzd29yZCI6ImIzZTk1NTgwZGY2NDRiM2I4OGM2MGI0MmY1NzExNTVmIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_4iyHhPE3ZgVKabBLoaq98HnpN115"
QSTASH_NEXT_SIGNING_KEY="sig_5cE5oLeySGKR8nQu1m4CfZj2pzfu"

# -------------------------
# App Config
# -------------------------
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
