# -------------------------
# Supabase
# -------------------------
SUPABASE_URL="https://pcbbbotaletbnkvusacs.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBjYmJib3RhbGV0Ym5rdnVzYWNzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUxOTQ2MTMsImV4cCI6MjA3MDc3MDYxM30.jgHQFyKEAm11kppV1jmMthtiCCw7ih_909c98g5le6s"
NEXT_PUBLIC_APP_URL=http://localhost:3000
# -------------------------
# Analytics / Monitoring
# -------------------------
NEXT_PUBLIC_POSTHOG_KEY="phc_M1aPCmbP1UHzs4CmahkE5TggpALkDV1zfc8u5kRjk0A"
POSTHOG_HOST="https://us.posthog.com"
SENTRY_DSN="https://8e1c2990b7fcc5146684b31f3e5a9b57@o4509820537470976.ingest.de.sentry.io/4509820689776720"

# -------------------------
# WhatsApp (global constants)
# -------------------------
WHATSAPP_API_BASE=https://graph.facebook.com
WHATSAPP_API_VERSION=v21.0

# -------------------------
# Webhook (optional)
WHATSAPP_VERIFY_TOKEN=AOOS_VERIFY_2025

# -------------------------
# Encryption for per-org tokens stored in DB
WHATSAPP_KMS_KEY=?WW;co&p]n4-V@q-kp-*IKzffB_l-zS{;nXk27JyZc{BpZM7Te

# -------------------------
# Upstash QStash (Owner Reports)
# -------------------------
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN="eyJVc2VySUQiOiI2YjdjMzYxMi01MWNhLTQ5OGEtOWI0OS0zMzMzNTY2OTU5ZGIiLCJQYXNzd29yZCI6ImIzZTk1NTgwZGY2NDRiM2I4OGM2MGI0MmY1NzExNTVmIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_4iyHhPE3ZgVKabBLoaq98HnpN115"
QSTASH_NEXT_SIGNING_KEY="sig_5cE5oLeySGKR8nQu1m4CfZj2pzfu"

# -------------------------
# App Config
# -------------------------
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_APP_URL=http://localhost:3000
